.categories-page {
  background-image: url("/public/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categroiesHolder {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
.categroiesImg {
  flex: 1;
}
.categroiesImg img {
  width: 100%;
  /* height: 500px; */
  height: 100%;
}

.categroiesText {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.categroiesBtn {
  background-color: #faa433;
  color: #204622;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0em 0em;
}

.categroiesBtn:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
  background-color: #204622;
  color: white;
}
@media screen and (max-width: 960px) {
  .categroiesHolder {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .categroiesImg img {
    width: 70%;
    height: 250px;
  }
  .categroiesImg {
    width: 100%; /* Full width for mobile */
    display: flex; /* Centering image */
    justify-content: center; /* Centering image */
    /* margin-bottom: 20px;  */
  }

  .categroiesImg img {
    width: 70%;
    height: auto; /* Adjust height to maintain aspect ratio */
  }

  .categroiesText {
    width: 100%; /* Full width for mobile */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
  }
  .responsive-category {
    order: -1;
  }
}
