.broccoli-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/frozen/frozen.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.broccoli-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  flex-direction: row;
}

.broccoli-ingre {
  background-color: rgba(74, 74, 74, 0.349);
  border-radius: 8px;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
  color: white;
  height: 600px;
}

.broccoli-ingre:hover {
  background-color: rgba(74, 74, 74, 0.648);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.broccoli-ingre h1 {
  font-size: 50px;
  margin: 20px;
  padding-bottom: 20px;
  color: white;
}

.broccoli-ingre p {
  color: white;
}

.broccoli-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 15px;
}

.broccoli-data h3 {
  color: white;
  font-size: 35px;
}

.broccoli-data p {
  color: white;
}

.broccoli-store {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.broccoli-store span {
  font-size: 25px;
}
.broccoliImg {
  width: 900px;
  height: 700px;
}

@media screen and (max-width: 1024px) {
  .broccoli-body {
    flex-direction: column;
    gap: 20px;
  }

  .broccoli-ingre {
    height: auto;
  }

  .broccoliImg {
    width: 100%;
    height: auto;
  }
  .broccoli-img {
    order: -1;
  }
  .broccoli-store {
    justify-content: center;
    align-items: center;
  }
}
