.product-image {
  width: 500px;
  height: 500px;
}

.product-image-page {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ketchup-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ketchup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
